<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sahaay</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/logo_c.png" />
  <!-- Added JQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Added Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  $(function() {
    $("#header").load("/hospitalloggedinheader");
  });
  </script>
  <style>
    /* For desktop */
    @media only screen and (min-width:360px) {
      #signup {
          max-width: 530px;
          padding: 15px;
          margin: 0 auto;
          border-radius: 0.3em;
          background-color: #f2f2f2;
      }
      #signup h2 { 
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 400;
        color: #000000;
        margin-top: 5%;
        text-align: center;
        text-transform: uppercase;
      }
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }

      img.avatar {
        width: 15%;
        border-radius: 20%;
      }
    }

    /* For mobile devices */
    @media only screen and (max-width:360px) {
      #signup {
        max-width: 350px;
        padding: 15px;
        margin: 0 auto;
        border-radius: 0.3em;
        background-color: #f2f2f2;
        font-family: 'Open Sans' , sans-serif;
        font-size: 12px;      
      }

      #signup h2 { 
        font-family: 'Open Sans' , sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        margin-top: 5%;
        text-align: center;
        text-transform: uppercase;
      }

      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }

      img .avatar {
        width: 10%;
        border-radius: 20%;
      }
    }
  </style>
</head>

<body>
  <div id="header"></div>
  <br>
  <div class="container" id="formModal">
    <div id="signup" class="form-horizontal" role="form">
      <div class="imgcontainer">
        <img src="/images/img_avatar.png" alt="Avatar" class="avatar">
      </div>
      <h2>My Profile</h2>
      <form>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" name="name" value="<%= (JSON.stringify(result.rows[0].name)).split('"')[1] %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber" class="col-sm-3 control-label">Contact number</label>
          <div class="col-sm-9">
            <input type="text" name="contact_no" value="<%= (JSON.stringify(result.rows[0].contact_no)).split('"')[1] %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="Category" class="col-sm-3 control-label">Category</label>
          <div class="col-sm-9">
            <input type="text" name="emergency_contact_no" value="<%= (JSON.stringify(result.rows[0].category)).split('"')[1] %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-sm-3 control-label">Address</label>
          <div class="col-sm-9">
            <input type="text" name="address" value="<%= (JSON.stringify(result.rows[0].address)).split('"')[1] %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="latitude" class="col-sm-3 control-label">Latitude</label>
          <div class="col-sm-9">
            <input type="text" name="latitude" value="<%= JSON.stringify(result.rows[0].latitude) %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="longitude" class="col-sm-3 control-label">Longitude</label>
          <div class="col-sm-9">
            <input type="text" name="longitude" value="<%= JSON.stringify(result.rows[0].longitude) %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="services" class="col-sm-3 control-label">Services</label>
          <div class="col-sm-9">
            <input type="text" name="services" value="<%= (JSON.stringify(result.rows[0].services)).split('"')[1] %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="timings" class="col-sm-3 control-label">Timimgs</label>
          <div class="col-sm-9">
            <input type="text" name="timings" value="<%= (JSON.stringify(result.rows[0].timings)).split('"')[1] %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="website" class="col-sm-3 control-label">Website</label>
          <div class="col-sm-9">
            <input type="text" name="website" value="<%= (JSON.stringify(result.rows[0].website)).split('"')[1] %>" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="ratings" class="col-sm-3 control-label">Ratings</label>
          <div class="col-sm-9">
            <input type="text" name="ratings" value="<%= JSON.stringify(result.rows[0].ratings)%>" class="form-control" readonly>
          </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary btn-block" data-toogle="modal" data-target="#formModal">Edit Profile</button> -->
      </form>
    </div>
  </div>
  </div>
  </div>
</body>

</html>